#homebar {
	padding: 5%;
}
#homebar a {
	font-family: 'AlegreyaSans', sans-serif;
	color:#787878;
	font-size: 1.5em;

}

#homebar a:hover {
	font-weight: bold;
} 


.footer {
	background-color: #FFFFFF;
	}

.footer a {
	color: #787878;
	
}
.footer p {
	color: #787878;
	
}

.image {
	position:relative;
	height:auto;
}

.behind {
	position:absolute;
	top:139px;
	left:45px;
	z-index: -1;
}

.front {
	z-index: 1;
}

.banner {
	padding-top: 115px;
	padding-bottom: 115px;
}

.image:hover > .behind {
	animation: wave 1.5s infinite;
}

@keyframes wave {
	50% {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
}

body {
	background-color: #FFFFFF;
}

@media screen and (max-width: 582px) {
	.banner {
		padding-top: 8%;
		padding-bottom: 8%;
	}
}